#trees {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 auto;
    width: 80%;
    .pic {
        width: 250px;
        height: 250px;
        background-size: cover;
        background-color: beige;
    }

    #one {
        background-image: url(../images/trees/1.jpeg);
    }

    #two {
        background-image: url(../images/trees/2.jpeg);
    }
    #three {
        background-image: url(../images/trees/3.jpeg);
    }
    #four {
        background-image: url(../images/trees/4.jpeg);
    }
    #five {
        background-image: url(../images/trees/5.jpeg);
    }
    #six {
        background-image: url(../images/trees/6.jpeg);
    }
}

